/* Projects Showcase */
.ProjectContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15vh;
    margin: 0 50px 0 50px ;
}

.Projects {
    display: flex;
    z-index: -1;
    width: 300px;
    height: 200px;
    margin: 15px 15px 15px 15px;
    background-size: 300px;
    border-radius: 5px;
    border: solid 0.5px #000000;
    align-items: flex-end;
    overflow: hidden;
}

.Projects div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333738;
    opacity: 0.96;
    width: 100%;
    height: 25%;
    padding-right: 10px;
}

.triangle{
    display: flex;
}

.triangle div{
    color: #FFA657;
}

.ProjectsWrapper {
    text-decoration: none;
}

/* Single Project Display */
.ProjectWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20vw;
    justify-content: center;
}

.CornerThumbnailContainer {
    display: flex;
    justify-content: flex-end;
}

.CornerThumbnail {
    -webkit-clip-path: polygon(0 0,0 0,39vw 20vw,39vw 0);
    -moz-clip-path: polygon(0 0,0 0,39vw 20vw,39vw 0);
    background-color: black;
}

.CornerThumbnail img {
    position: relative;
    top: -2.5px;
    height: 20vw;
    -webkit-clip-path: polygon(0 0,0 0,39vw 20vw,39vw 0);
    -moz-clip-path: polygon(0 0,0 0,39vw 20vw,39vw 0);
}

.ProjectTitle {
    font-size: calc(36px + 5vw);
}

.ProjectText {
    font-size: calc(12px + 0.5vw);
    padding-bottom: 20px;
}

.ProjectLink a {
    color: #FFA657;
    text-decoration: none;
}

.ProjectLink {
    padding-bottom: 3vh; 
}

.ProjectContent{
    position: absolute;
    left: 6vw;
    top: 20vh;
    display: flex;
    flex-direction: row;
}

.ProjectContentLeft{
    color: white;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.ProjectContentLeft .ProjectTitle {
    color: #FFA657;
}

.ProjectContentRight{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.ProjectAssets img {
    height: 8vw;
}

/* Footer */
.Footer {
    width: 450px;
    height: 450px;
    background: white;
    margin-top: 225px;
    margin-left: 225px;
    -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.Footer h1 {
    display: flex;
    justify-content: center;
}

.FooterWrapper {
    width: 450px;
    height: 450px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

