.ProjectContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    margin: 0 50px 0 50px ;
}

.Project {
    display: flex;
    z-index: -1;
    width: 300px;
    height: 200px;
    margin: 15px 15px 15px 15px;
    background-size: 300px;
    border-radius: 30px;
    border: solid 1px #9B51E0;
    align-items: flex-end;
    overflow: hidden;
}

.Project div{
    display: flex;
    justify-content: flex-end;
    background-color: #905EBD;
    opacity: 0.9;
    width: 100%;
    height: 50%;
    margin-bottom: -15%;
    margin-right: -10%;
    padding-right: 30px;
    -moz-transform: scale(1) rotate(-20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.Project h1{
    color: white;
    -moz-transform: scale(1) rotate(20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(20deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}