
.ProjectGalleryContainer{
    margin-top: 100px;
    text-align: center;
}

.ProjectDisplayBox{
    height: 250px;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #949494;
    border: #632D00 2px solid;
    display: inline-block;
    text-decoration: none;
}

.PDB_Title{
    color: white;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 50px;
    width: 350px;
    margin-top: -10px;
    padding-top: 20px;
    margin-bottom: -10px;
}

.PDB_Content{
    height: 200px;
    width: 350px;
}

.ProjectDisplayBox img{
    height: 200px;
    width: 350px;
}

.ProjectDisplayBox:hover{
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.67);
    -moz-box-shadow:    0 0 30px 0 rgba(0, 0, 0, 0.67);
    box-shadow:         0 0 30px 0 rgba(0, 0, 0, 0.67);
}