.SingleProjectContainer{
    display: inline-block;
}


/* Image Header */
.ImageHeaderContainer{
    width: 100%;
    height: 500px;
    z-index: 0;
    overflow: hidden;
}

.ImageHeaderContainer img{
    max-width: 100%;
    height: auto;
}


/* Statistics Section */
.StatisticsContainer{
    width: 100%;
    height: 500px;
    z-index: 1;
    background-color: white;
}


/* Description Section */
.DescriptionContainer{
    width: 100%;
    height: 500px;
    background-color: orange;
}